.activityContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 12px;
  border: 2px solid rgb(204, 51, 153);
  border-radius: 16px;
  background-color: rgba(204, 51, 153, 0.1);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.activityContainer:hover {
  cursor: pointer;
  background-color: rgba(178, 27, 128, 0.25);
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.activityContainer:active {
  background-color: rgba(178, 27, 128, 0.4);
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailsRow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 8px;
  color: #666;
  font-size: 14px;
}
